*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #2e2e2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sing-in{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 800px;
    border-radius: 20px;
    background-color:white;
    margin-top:50px;
    
}

.top1{
    gap: 95px;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;

}

.top1 a{ 
    font-size: 22px;
    font-weight: 420;
    font-family: "Roboto", serif;
}

.reg1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius:15px;
    border: 2px solid black;
    font-size: 14px;
    font-weight: 420;
    font-family: "Roboto", serif;
    cursor: pointer;

}

.reg1:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-left:30px;
    margin-top: 20px;
    font-family: "Roboto", serif;

}   

.inputs a{
    margin-left:5px;
    font-weight: 500;
}

.inputs input{
    width: 320px;
    border-radius: 10px;
    height: 45px;
    border: 2px lightgray solid;
    /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3); */
    font-size: 18px;
    
}

.inputs input:hover{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ;

}

.mark{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
}

.stay i{
    background-color: black;
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
}

.stay{
    font-size: 15px;
    font-family: "Roboto", serif;
    font-weight: 400;
    display: flex;
    gap: 5px;
    align-items: center;
    position: relative;
    left:2px; 
    cursor: pointer;   
}

.forgot{
    font-size: 12px;
    color: gray;
    text-decoration: underline;
    font-family: "Roboto", serif;
    position: relative;
    right:2px;
    cursor: pointer;
}

.Singin-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.button{
    width: 320px;
    height:45px;
    border-radius: 25px;
    background-color: #242424;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Roboto", serif;
    font-weight: 500;
    cursor: pointer;
}

.button:hover{
    background-color: #3e3e3e;
    transition: all 0.2s;
    /* width: 325px;
    height: 47px; */
    border-radius: 30px;
}


.trouble{
    font-size: 15px;
    font-family: "Roboto", serif;
    font-weight: 400;
    cursor: pointer;
    color: gray;
    text-decoration: underline;
}

.ways{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-top: 20px;
}

.with-appl:hover, .with-ggl:hover, .with-fb:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
    width: 325px;
    border-radius: 30px;

}

.with-ggl{
    width: 320px;
    height: 42px;
    border-radius: 25px;
    border: 2px solid  black;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    font-family: "Roboto", serif;
    cursor: pointer;

}

.with-ggl i{
    margin-left: 55px;

}

.with-fb{
    width: 320px;
    height: 42px;
    border-radius: 25px;
    border: 2px solid  black;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    font-family: "Roboto", serif;
    cursor: pointer;

}

.with-fb i{
    margin-left: 55px;

}


.with-appl{
    width: 320px;
    height: 42px;
    border-radius: 25px;
    border: 2px solid  black;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 17px;
    font-family: "Roboto", serif;
    cursor: pointer;

}

.with-appl i{
    margin-left: 55px;

}

.mid{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
    font-family: "Roboto", serif;

}

.bott-txt{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-top: 20px;
}

.bott-txt a{
    font-size: 15px;
    font-family: "Roboto", serif;
    text-align: left;
    width: 275px;
    margin-left: 37px;
}

.bott-txt p{
    color:#3b67d9;
    text-decoration: underline;
    cursor: pointer;
}

.bott-txt span{
    font-size: 15px;
    font-family: "Roboto", serif;
    text-align: left;
    width:275px;
    margin-left: 37px;
    color: gray;
}

